﻿{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Demo</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'files/assets/images/favicon.ico' %}">
    <!-- Google font--><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'files/bower_components/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files\assets\pages\jquery.filer\css\jquery.filer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files\assets\pages\jquery.filer\css\themes\jquery.filer-dragdropbox-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files\bower_components\sweetalert\css\sweetalert.css' %}">

    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/icon/icofont/css/icofont.css' %}">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'files\assets\icon\feather\css\feather.css' %}">
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'files\bower_components\datatables.net-bs4\css\dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files\assets\pages\data-table\css\buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files\bower_components\datatables.net-responsive-bs4\css\responsive.bootstrap4.min.css' %}">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'files/assets/css/jquery.mCustomScrollbar.css' %}">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'files/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Dropify -->
    <link rel="stylesheet" href="{% static 'files/plugins/dropify/dist/css/dropify.min.css' %}">
    <!-- Select 2 css -->
    <link rel="stylesheet" href="{% static 'files\bower_components\select2\css\select2.min.css'%}">

    

    <style>
        .uniqueClassName {
            text-align: center;
        }

    </style>

    {% block extracss %}  
    {% endblock extracss %}


</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">

                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="feather icon-menu"></i>
                    </a>
                    <a href="/captura/">
                        <img src="{% static 'files/assets/images/logo.png' %}" alt="logo.png">
                    </a>
                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>

                <div class="navbar-container container-fluid">
                    <!-- Este boton maximiza la pantalla, se puede quitar si no se utiliza -->
                    <ul class="nav-left">
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="feather icon-maximize full-screen"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <!-- En caso de que quieran notificaciones, si no esto se puede borrar -->
                        <!-- <li class="header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="feather icon-bell"></i>
                                    <span class="badge bg-c-pink">1</span>
                                </div>
                                
                                <ul class="show-notification notification-view dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <h6>Notificaciones</h6>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="notification-user">Título</h5>
                                                <p class="notification-msg">Mensaje de la notificación</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li> -->
                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    
                                    <span><i class='fas fa-calendar mr-2 fa-2x'></i>{{request.session.fecha}} | </span>
                                    <span><i class='fas fa-user mr-2 fa-2x'></i>{{request.session.nombre}} | </span>
                                    <span><i class='fas fa-address-card mr-2 fa-2x'></i>{{request.session.rol}}</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="/demo/logout">
                                            <i class="feather icon-log-out"></i> Cerrar Sesión
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="pcoded-navigatio-lavel">Menu</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu">
                                {% for menu in request.session.menus %}
                                    {% if menu.has_perm %}

                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                            <span class="pcoded-mtext">{{menu.nombre}}</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            {% for m in menu.menu %}                        
                                                {% if m.multi_menu == False %}
                                                    {% if m.has_perm == True %}
                                                        {% with m.url as ur1 %}
                                                            {% if m.tipo == 1 %}                                        
                                                                <li class="nav-item"><a href="javascript:void(0)" data-toggle="modal" data-target="#{{m.modal}}" class="nav-link" >{{m.nombre}}</a></li>
                                                            {% else %}
                                                                <li class="nav-item"><a href="{% url ur1 %}" class="nav-link" >{{m.nombre}}</a></li>                                            
                                                            {% endif %}
                                                        {% endwith %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if m.has_perm == True %}
                                                        {% for s in m.submenu %}
                                                            {% if s.has_perm == True %}
                                                                {% with s.url as ur2 %}
                                                                    <li class="nav-item" ><a href="{% url ur2 %}" class="nav-link">{{s.nombre}}</a></li>
                                                                {% endwith %}
                                                            {% endif %}
                                                        {% endfor %}    
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            
                                            
                                        </ul>

                                        
                                    {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                        
                    </div>
                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>{% block seccion %}Dashboard{% endblock seccion %}</h4>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Breadcrumbs para el usuario -->
                                        <!-- <div class="col-lg-4">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="index.htm"> <i class="feather icon-home"></i> </a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="#!">Breadcrumbs si se necesitan</a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="#!">Breadcrumbs</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- Page-header end -->

                                <!-- Page-body start -->
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Zero config.table start -->
                                            <div class="card">
                                                <div class="card-block">
                                                    {% block contenido %}
                                                    {% endblock contenido %} 
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Page-body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers
        to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="../files/assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="../files/assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="../files/assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script src="{% static 'files/bower_components/jquery/js/jquery.min.js' %}"></script>
<script src="{% static 'files/bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'files/bower_components/popper.js/js/popper.min.js' %}"></script>
<script src="{% static 'files/bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script src="{% static 'files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script src="{% static 'files/bower_components/modernizr/js/modernizr.js' %}"></script>
<script src="{% static 'files/bower_components/modernizr/js/css-scrollbars.js' %}"></script>

<!-- Masking js -->
<script src="{% static 'files\assets\pages\form-masking\inputmask.js' %}"></script>
<script src="{% static 'files\assets\pages\form-masking\jquery.inputmask.js' %}"></script>
<script src="{% static 'files\assets\pages\form-masking\autoNumeric.js' %}"></script>
<script src="{% static 'files\assets\pages\form-masking\form-mask.js' %}"></script>

<!-- jquery file upload js -->
<script src="{% static 'files\assets\pages\jquery.filer\js\jquery.filer.min.js' %}"></script>
<script src="{% static 'files\assets\pages\filer\custom-filer.js' %}"></script>
<script src="{% static 'files\assets\pages\filer\jquery.fileuploads.init.js' %}"></script>


<!-- data-table js -->
<script src="{% static 'files\bower_components\datatables.net\js\jquery.dataTables.min.js' %}"></script>
<script src="{% static 'files\bower_components\datatables.net-buttons\js\dataTables.buttons.min.js' %}"></script>
<script src="{% static 'files\assets\pages\data-table\js\jszip.min.js' %}"></script>
<script src="{% static 'files\assets\pages\data-table\js\pdfmake.min.js' %}"></script>
<script src="{% static 'files\assets\pages\data-table\js\vfs_fonts.js' %}"></script>
<script src="{% static 'files\bower_components\datatables.net-buttons\js\buttons.print.min.js' %}"></script>
<script src="{% static 'files\bower_components\datatables.net-buttons\js\buttons.html5.min.js' %}"></script>
<script src="{% static 'files\bower_components\datatables.net-bs4\js\dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'files\bower_components\datatables.net-responsive\js\dataTables.responsive.min.js' %}"></script>
<script src="{% static 'files\bower_components\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js' %}"></script>

<!-- sweet alert js -->
<script src="{% static 'files\bower_components\sweetalert\js\sweetalert.min.js' %}"></script>

<!-- <script src="{% static 'files\assets\js\modal.js' %}"></script> -->
<!-- sweet alert modal.js intialize js -->
<!-- modalEffects js nifty modal window effects -->
<script src="{% static 'files\assets\js\modalEffects.js' %}"></script>
<script src="{% static 'files\assets\js\classie.js' %}"></script>

<!-- i18next.min.js -->
<script src="{% static 'files/bower_components/i18next/js/i18next.min.js' %}"></script>
<script src="{% static 'files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js' %}"></script>
<script src="{% static 'files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js' %}"></script>
<script src="{% static 'files/bower_components/jquery-i18next/js/jquery-i18next.min.js' %}"></script>
<!-- Custom js -->
<script src="{% static 'files\assets\pages\data-table\js\data-table-custom.js' %}"></script>

<script src="{% static 'files\assets\js\pcoded.min.js' %}"></script>
<script src="{% static 'files\assets\js\vartical-layout.min.js' %}"></script>
<script src="{% static 'files\assets\js\jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'files\assets\js\script.js' %}"></script>
<!-- Script de sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'files/plugins/dropify/dist/js/dropify.min.js' %}"></script>


<script>
    function mostrar_texto(icon,titulo,texto){
		Swal.fire({
			icon: icon,
			title: titulo,
			text: texto,
		})
	}
    $('.dropify').dropify();
    

</script>
{% block extrajs %}
{% endblock extrajs %}


</body>

</html>
