{% extends "master_page.html" %}
{% load static %}
{% block seccion %}
    Nueva Importacion
{% endblock seccion %}

{% block extracss %}    
    
{% endblock %}

{% block contenido %}





<div class="card-body">
    <form id="form_insertar" name="form_insertar" method="post" enctype="multipart/form-data" action="{% url 'capturar_insetar_save' %}">{% csrf_token %}
        <input type="text" name="razon"  id="razon" hidden>
        <input type="text" name="valor_limpio"  id="valor_limpio" hidden>
        <div class="row">            
            <div class="col-md-4">
                <div class="form-group">
                    <label for="input-1">VIN:</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">#</span>
                        <input type="text" oninput="this.value = this.value.toUpperCase()" name="vin" id="vin"  maxlength="400" class="form-control form-control-right" required>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="input-1">Marca:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icofont icofont-barcode"></i></span>
                        <select name="marca" id="marca" class="form-control" style="width: 100%;" required>
                            {% for r in marcas %}
                            <option value="{{r.id}}">{{r.nombre}}</option>
                            {% endfor %}
                        </select>
                        <span id="btn_agregar_marca"class="input-group-addon"><i class="icofont icofont-plus"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="input-1">Año:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icofont icofont-ui-calendar"></i></span>
                    <select name="anio" class="form-control " required>
                        {% for r in anios_list %}
                        <option value="{{r.x}}">{{r.x}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row">            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input-1">Valor del vehículo:</label> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                        <input type="text" name="valor" id="valor"  class="form-control autonumber form-control-right" data-a-sign="$"required/>
                    </div>       
                </div>  
            </div>
            <div class="bootstrap-timepicker col-md-6">
                <div class="form-group">
                    <label>Fecha de emisión del titulo o factura:</label>
                    
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icofont icofont-ui-calendar"></i></span>
                        <input name="fecha" type="date" class="form-control"  required/> 
                        
                    </div>
                    <!-- /.input group -->
                </div>
            <!-- /.form group -->
            </div>
        </div>
        <div class="row">
    
            <div class="col-md-12">
                <label for="file_1">Factura o Titulo:</label>
                <br>
                <input type="file" name="file_1" id="file_1" class="dropify" accept="application/pdf, image/*" required/>
            </div>

        </div>

        <br>
        <button id="submit-hidden" type="submit" style="display: none"></button>
        <button type="button" class="btn btn-primary float-right" onclick="terminar()"><a id="btntest2" name="btntest2">Guardar</a> 
            <span class="preloadercarga"  id="btntest" name="btntest">
                <span class="circ1"></span>
                <span class="circ2"></span>
                <span class="circ3"></span>
                <span class="circ4"></span>
            </span>
        </button>

        
        <a href="{% url 'captura_lista' %}" class="btn btn-danger">Cancel</a>

        

        
        <div class="modal fade" id="rechazada_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                
                <div class="modal-body">  


                    <div class="alert alert-primary background-danger" id="rechazada2" name="rechazada2">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled text-white"></i>
                        </button>
                        <strong>¡Información rechazada! </strong>
                        <br>
                        <p>Vuelve a capturar el <strong>Valor del vehículo</strong> o puede especificar una justificacion y esperar por la verificacion de un agente de comercio exterior.</p>
                        
                        
                    </div>

                    <div class="row">            
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="input-1">Valor declarado:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                                    <input type="text" name="v_declarado2" id="v_declarado2"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                                </div>
                            </div>
                        </div>            
                    </div>

                    <div class="row">            
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="input-1">Valor estimado del vehículo:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                                    <input type="text" name="v_estimado2" id="v_estimado2"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                                </div>
                            </div>
                        </div> 
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="input-1">Monto para reparación:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                                    <input type="text" name="v_repara2" id="v_repara2"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                                </div>
                            </div>
                        </div> 
                    </div>

                    <div class="row">            
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="input-1">Valor estimado Final:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                                    <input type="text" name="v_final2" id="v_final2"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="input-1">Costo de importación:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                                    <input type="text" name="v_importacion2" id="v_importacion2"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">            
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="input-1">Justificación:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icofont icofont-file-text"></i></span>
                                    <input type="text" name="jus" id="jus"  class="form-control form-control-right">
                                </div>
                            </div>
                        </div>                
                    </div>
                    
                    <div class="row"> 
                        <div class="col-md-9">
                            
                        </div>           
                        <div class="col-md-3">
                            <div class="form-group float-right">                                
                                <a >Agregar Evidencias  </a><input type="checkbox" class="js-single" id="chk" name="chk">
                            </div>
                        </div>                
                    </div>

                    <div class="row" style="display: none;" id="div1">
                        <div class="col-md-12">
                            <label for="file_1">Evidencia 1:</label>
                            <br>
                            <input type="file" name="evidencia_1" id="evidencia_1" class="dropify" accept="application/pdf, image/*"/>
                        </div>
                    </div>
                    <div class="row" style="display: none;" id="div2">
                        <div class="col-md-12">
                            <label for="file_1">Evidencia 2:</label>
                            <br>
                            <input type="file" name="evidencia_2" id="evidencia_2" class="dropify" accept="application/pdf, image/*"/>
                        </div>
                    </div> 
                    <br>
                    <div class="row" style="display: none;" id="div3">
                        <div class="col-md-12">
                            <label for="file_1">Evidencia 3:</label>
                            <br>
                            <input type="file" name="evidencia_3" id="evidencia_3" class="dropify" accept="application/pdf, image/*"/>
                        </div>
                    </div>   
                    
                </div>

                


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="sub()">Continuar</button>
                </div>
                </div>
            </div>
        </div>















        

    </form>   



</div>


<div class="modal fade" id="continuar_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        
        <div class="modal-body">  

            <div class="alert alert-primary background-success" id="aprobada" name="aprobada" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="icofont icofont-close-line-circled text-white"></i>
                </button>
                <strong>Información aprobada! </strong>
                <p>Puede continuar con la generacion del certificado.</p> 
            </div>


            <div class="row">            
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input-1">Valor declarado:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                            <input type="text" name="v_declarado" id="v_declarado"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="row">            
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input-1">Valor estimado del vehículo:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                            <input type="text" name="v_estimado" id="v_estimado"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                        </div>
                    </div>
                </div> 
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input-1">Monto para reparación:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                            <input type="text" name="v_repara" id="v_repara"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="row">            
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input-1">Valor estimado Final:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                            <input type="text" name="v_final" id="v_final"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input-1">Costo de importación:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-cur-dollar"></i></span>
                            <input type="text" name="v_importacion" id="v_importacion"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                        </div>
                    </div>
                </div>

            </div>
<!-- 
            <div class="row">            
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="input-1">Cantidad de días entre Fecha de Titulo o Factura y dato de Valuación:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icofont icofont-ui-calendar"></i></span>
                            <input type="text" name="v_dias" id="v_dias"  class="form-control autonumber form-control-right" data-a-sign="$" disabled>
                        </div>
                    </div>
                </div>                
            </div> -->
            
        </div>

        


        <div class="modal-footer">
            <button type="button" class="btn btn-secondary " data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="sub()">Continuar</button>
        </div>
        </div>
    </div>
</div>





<div class="modal fade" id="modal_agregar_marca" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar Nueva Marca</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="input-1">Marca:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-folder"></i></span>
                                <input type="text" name="marca_modal" id="marca_modal"  maxlength="400" class="form-control form-control-right">
                            </div>
                        </div>
                    </div>
                </div>                                                     
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary ok" data-dismiss="modal" onclick="agregar_marca();">Aceptar</button>
                
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block extrajs %}
<script>
    $(function () {
        
        $("#chk").change( function(){            
            $("#div1").toggle();
            $("#div2").toggle();
            $("#div3").toggle();
        });


    });

    function launchModal(text){
        $("#alert").html(text);
        $('#mensaje').modal('toggle');
        $('#mensaje').modal('show');
    }


    function terminar(){
        if(!$("#form_insertar")[0].checkValidity()){

            //  $("#rechazada_modal").modal("toggle");
            //  $("#rechazada_modal").modal("show");
            
            $("#form_insertar").find("#submit-hidden").click();
            
            return;

        }else{

            

            // document.getElementsByClassName('btntest')[0].style.visibility = 'visible';

            var div = document.getElementById('btntest');
            div.style.visibility="visible";


            var div = document.getElementById('btntest2');
            div.style.visibility="hidden";
           
  

        }

    }

    function sub(){
        valor = $("#valor").val()
        var v = valor.replace(/[^0-9]/g, '');
        v = parseFloat(v) / 100
        $("#razon").val($("#jus").val());
        $("#valor_limpio").val(v);
        $("#form_insertar").submit();
    }

    const btn_agregar_marca = document.getElementById('btn_agregar_marca')
    btn_agregar_marca.onclick = ()=>{
        $('#modal_agregar_marca').modal('toggle');
        $('#modal_agregar_marca').modal('show');
        
    }

    function agregar_marca(){


    }

    function adjuntarEvidencias(){
        
        $('#modal_adjuntar_evidencias').modal('toggle');
        $('#modal_adjuntar_evidencias').modal('show');


    }

    function abrirInformacion(){
        $('#rechazada_modal').modal('toggle');
        $('#rechazada_modal').modal('show');

    }

</script>
{% endblock %}